*{
    margin:0;
    padding:0;
}
body {
    background-color:#548687;
    text-align:center;

}
 .container{
    height:70vh;
    display:flex;
justify-content:center;
align-items:center;
}

.game{
    height:60vmin;
width:60vmin;
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
gap:1vmin;
}
   
.box{
    height:18vmin;
    width:18vmin;
    border-radius:1rem;
    border-color: black;
    font-size:9vmin;
    background-color: blanchedalmond;
    font-weight: 200; 
}

#reset-button{
    height:5vmin;
    width:10vmin;
    border-radius:0.3rem;
    border:none;
    background-color:black;
    color:blanchedalmond;

}

#new-button{
    height:5vmin;
    width:10vmin;
    border-radius:0.3rem;
    border:none;
    background-color:black;
    color:blanchedalmond;
}

#msg{
    color: blanchedalmond;
    font-size:large;
}

.message-container{
    height:30vmin;
}

.hide{
    display:none;
}